$Lime:#00FF00;
$Blod:#800000;
$DeepPink:#FF1493;
$Blue:#0000FF;

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 150px);
    gap: 10px;

}

.cub {
    width: 200px;
    height: 200px;
    background: gray;
}

.cub-1 {
    background-color: $Lime;
}

.cub-2 {
    background-color: $Blod;
}

.cub-3 {
    background-color: $DeepPink;
}

.cub-4 {
    background-color: $Blue;
} 